.cwj-recommend-box{
  background: #fff;
  .recommend-body{
    height: 1.61rem;
    .only-box{
      overflow: hidden;
      display: flex;
      height: 100%;
      position: relative;
      flex-direction: row;
      img{
        position: absolute;
        width: 100%;
        height: 100%;
      }
      .tmd{
        top: -.28rem;
      }
    }
  }
}
