.pay-password-container{

  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 11;
  background: #f3f3f3;
  padding: .4rem;

  .title{
    font-size: .18rem;
  }
  .price{
    font-size: .4rem;
    span{
      font-size: .14rem;
    }
  }

  .forget{
    //align-self:flex-end;
    margin-top: .1rem;
    margin-left: 2rem;
  }

  .yijian{
    font-size: .16rem;
    margin-top: .2rem;
  }
  .password{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: .45rem;
    width: 2.7rem;
    border: solid .01rem #ccc;
    margin-top: .5rem;
    div{
      height: .45rem;
      width: .45rem;
      border-style: solid;
      border-width: 0 .01rem 0 0;
      border-color: #eee;
      &:nth-last-child(1){
        border:none;
      }
      display: flex;
      justify-content: center;
      align-items: center;
      span{
        &.istrue{
          width: .1rem;
          height: .1rem;
          border-radius: 50%;
          background: #BBB;
        }
      }
    }


  }

  .footer{
    position: absolute;
    bottom: .2rem;
    color: #CCC;
  }
}